In [112]:

#dependences
import pandas as pd


#Set up file to read

file_to_load = "Resources/purchase_data.csv"

In [113]:
# Use Pandas to read data
file = pd.read_csv(file_to_load)
file.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [114]:
#Display the total number of players
uni_player = file["SN"].value_counts()
player_count = len(uni_player)

# Display_playertot = pd.DataFrame({"Total Player Count": player_count})

In [115]:
# total_player= len(uni_player)
# print(total_player)
sn = pd.DataFrame(file, columns=["SN"])
sn.value_counts()

SN
Lisosia93       5
Iral74          4
Idastidru52     4
Asur53          3
Inguron55       3
               ..
Hala31          1
Haisurra41      1
Hailaphos89     1
Haestyphos66    1
Iskosian40      1
Length: 576, dtype: int64

In [116]:
# Purchasing Analysis (Total):
# Number of Unique Items
# Average Purchase Price
# Total Number of Purchases
# Total Revenue
 
uni_item = file["Item Name"].value_counts()
num_uni_item = len(uni_item)
ave_price = file[["Price"]].mean()
tot_num_pur = file["Purchase ID"].max() + 1 


tot_rev = file["Price"].sum()

#  Display the summary data frame.
 
num_uni_item
ave_price
tot_num_pur
tot_rev
summary_df = pd.DataFrame({"Number of Unique Items": num_uni_item,
                              "Average Purchase Price": ave_price,
                              "Total Number of Purchases ":tot_num_pur,
                              "Total Revenue": tot_rev})


summary_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
Price,179,3.050987,780,2379.77

In [ ]:
# Gender Demographics
 
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed