In [68]:

#dependences
import pandas as pd


#Set up file to read

file_to_load = "Resources/purchase_data.csv"

In [69]:
#Display the total number of players
# Use Pandas to read data
file = pd.read_csv(file_to_load)
file.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [70]:
#Display the total number of players
uni_player = file["SN"].value_counts()
player_count = len(uni_player)

Display_playertot = pd.DataFrame({"Total Player Count": player_count}, index=['0'])
Display_playertot

   Total Player Count
0                 576

In [71]:
# Purchasing Analysis (Total):
# Number of Unique Items
# Average Purchase Price
# Total Number of Purchases
# Total Revenue
 
uni_item = file["Item Name"].value_counts()
num_uni_item = len(uni_item)
ave_price = file[["Price"]].mean()
tot_num_pur = file["Purchase ID"].max() + 1 


tot_rev = file["Price"].sum()

#  Display the summary data frame.
 
num_uni_item
ave_price
tot_num_pur
tot_rev
summary_df = pd.DataFrame({"Number of Unique Items": num_uni_item,
                              "Average Purchase Price": ave_price,
                              "Total Number of Purchases ":tot_num_pur,
                              "Total Revenue": tot_rev})


summary_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
Price,179,3.050987,780,2379.77

In [72]:
# Remove price from index without changeing the average price input

sum_df = summary_df.copy()
summary_df.rename(index={'Price': '0'}, inplace=True)
sum_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
Price,179,3.050987,780,2379.77

In [73]:
# Gender Demographics
 
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed
# Answer/approach : create a new data frame with only male/female/other then unique user names (576) and then do calculation

file
# lets make a list of unique male/female/other profiles and count them
byname = file.groupby("SN").sum()

malefile = file.loc[file["Gender"] == "Male", :]
femalefile = file.loc[file["Gender"] == "Female", :]
nongenfile = file.loc[file["Gender"] == "Other / Non-Disclosed", :]
# Group by unique username
malefile_sn =malefile.groupby("SN").sum()

femalefile_sn = femalefile.groupby("SN").sum()
nongenfile_sn =nongenfile.groupby("SN").sum()
nongenfile_sn

# Totals
tot_male = len(malefile_sn)
tot_female = len(femalefile_sn)
tot_nongen = len(nongenfile_sn)
tot = len(nongenfile_sn)+ len(femalefile_sn) +len(malefile_sn)

# Percentages
perc_male = 100*len(malefile_sn)/tot
perc_fem = 100*len(femalefile_sn)/tot
perc_other = 100*len(nongenfile_sn)/tot

gender_summary_df = pd.DataFrame({"Gender": ["Male", "Female","Other / Non-Disclosed"],"Total Count": [tot_male, tot_female, tot_nongen], "Percentage of Players": [perc_male, perc_fem, perc_other]})
gender_summary_df['Percentage of Players'] = gender_summary_df['Percentage of Players'].round(decimals =2)
gender_summary_df

                  Gender  Total Count  Percentage of Players
0                   Male          484                  84.03
1                 Female           81                  14.06
2  Other / Non-Disclosed           11                   1.91

In [74]:
# Purchasing Analysis (Gender), Run basic calculations to obtain:

# Create a summary data frame to hold the results

# Purchase Count

pur_count_f = len(femalefile)
pur_count_m = len(malefile)
pur_count_nong= len(nongenfile) 

# Average purchase price

ave_f_pur = femalefile["Price"].mean()
ave_m_pur = malefile["Price"].mean()
av_nong_pur = nongenfile["Price"].mean()

# Total Purchase Value
tot_f_value = femalefile["Price"].sum()
tot_m_value = malefile["Price"].sum()
tot_non_value = nongenfile["Price"].sum()

# Average Purchase Total per Person by Gender by gender

Ave_per_f = femalefile_sn["Price"].mean()
Ave_per_m = malefile_sn["Price"].mean()
Ave_per_nong = nongenfile_sn["Price"].mean()

gen_purchasing_summary_df = pd.DataFrame({"Gender": ["Male", "Female","Other / Non-Disclosed"],"Purchase Count": [pur_count_f, pur_count_m, pur_count_nong], "Average Purchase Price": [ave_f_pur,ave_m_pur, av_nong_pur], "Total Purchase Value":[tot_f_value, tot_m_value, tot_non_value], "Avg Total Purchase per Person":[Ave_per_f, Ave_per_m, Ave_per_nong] })

gen_purchasing_summary_df['Average Purchase Price'] = gen_purchasing_summary_df['Average Purchase Price'].round(decimals =2)

gen_purchasing_summary_df['Avg Total Purchase per Person'] = gen_purchasing_summary_df['Avg Total Purchase per Person'].round(decimals =2)

gen_purchasing_summary_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Male,113,3.20,361.94,4.47
1,Female,652,3.02,1967.64,4.07
2,Other / Non-Disclosed,15,3.35,50.19,4.56

In [75]:
# Age Demographics 
# Establish bins for age
bins = [0, 9.9, 14, 19, 24, 29, 34, 39, 100]
groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins. Hint: use pd.cut()
file["Age"] = pd.cut(file["Age"], bins, labels=groups, include_lowest=True)
file

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20-24,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40+,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,20-24,Male,92,Final Critic,4.88
3,3,Chamassasya86,20-24,Male,100,Blindscythe,3.27
4,4,Iskosia90,20-24,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,20-24,Female,60,Wolf,3.54
776,776,Iral74,20-24,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20-24,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,<10,Male,92,Final Critic,4.19
779,779,Ennrian78,20-24,Male,50,Dawn,4.60

In [76]:
# Calculate the numbers and percentages by age group : Total Count and Percentage of Players
# Create a summary data frame to hold the results

file_10 = file.loc[file["Age"] == "<10", :]
file_10to14 = file.loc[file["Age"] == "10-14", :]
file_15to19 = file.loc[file["Age"] == "15-19", :] 
file_20to24 = file.loc[file["Age"] == "20-24", :]
file_25to29 = file.loc[file["Age"] == "25-29", :]
file_30to34 = file.loc[file["Age"] == "30-34", :]
file_35to39 = file.loc[file["Age"] == "35-39", :]
file_40 = file.loc[file["Age"] == "40+", :]

# Group by unique username to remove double

file_10_n = file_10.groupby("SN")
file_10to14_n = file_10to14.groupby("SN")
file_15to19_n = file_15to19.groupby("SN")
file_20to24_n = file_20to24.groupby("SN")
file_25to29_n = file_25to29.groupby("SN")
file_30to34_n = file_30to34.groupby("SN")
file_35to39_n = file_35to39.groupby("SN")
file_40_n = file_40.groupby("SN")


tot_10 = len(file_10_n)
tot_15 = len(file_10to14_n)
tot_20 = len(file_15to19_n)
tot_25 = len(file_20to24_n)
tot_30 = len(file_25to29_n)
tot_35 = len(file_30to34_n)
tot_39 = len(file_35to39_n)
tot_100 = len(file_40_n)

total_count = len(file_10_n)+len(file_10to14_n)+len(file_15to19_n)+len(file_20to24_n)+len(file_25to29_n)+len(file_30to34_n)+len(file_35to39_n)+ len(file_40_n)

perc_below_10= 100* len(file_10_n)/total_count
perc_10to14= 100* len(file_10to14_n)/total_count
perc_15to19 = 100* len(file_15to19_n)/total_count
perc_20to24 = 100* len(file_20to24_n)/total_count
perc_25to30 = 100* len(file_25to29_n)/total_count
perc_30to34 =100* len(file_30to34)/total_count
perc_34to39 = 100* len(file_30to34_n)/total_count
perc_100 = 100*len(file_40_n)/total_count

agebin_summary_df = pd.DataFrame({"Age": groups,"Total Count":[tot_10, tot_15, tot_20, tot_25,tot_30,tot_35,tot_39,tot_100], "Percentage of Players":[perc_below_10, perc_10to14, perc_15to19, perc_20to24, perc_25to30,perc_30to34,perc_34to39,perc_100] })
agebin_summary_df["Percentage of Players"]= agebin_summary_df["Percentage of Players"].round(decimals=2)
agebin_summary_df

     Age  Total Count  Percentage of Players
0    <10           17                   2.95
1  10-14           22                   3.82
2  15-19          107                  18.58
3  20-24          258                  44.79
4  25-29           77                  13.37
5  30-34           52                  12.67
6  35-39           31                   9.03
7    40+           12                   2.08

In [79]:
# Age Demographics:
# Purchase Count
pur_c_10 = len(file_10)
pur_c_14 = len(file_10to14)
pur_c_19 = len(file_15to19)
pur_c_24 = len(file_20to24)
pur_c_29 = len(file_25to29)
pur_c_34 = len(file_30to34)
pur_c_39 = len(file_35to39)
pur_c_40 = len(file_40)

# Average Purchase Price
ave_pur_10 = file_10["Price"].mean()
ave_pur_14 = file_10to14["Price"].mean()
ave_pur_19 = file_15to19["Price"].mean()
ave_pur_24 = file_20to24["Price"].mean()
ave_pur_29 = file_25to29["Price"].mean()
ave_pur_34 = file_30to34["Price"].mean()
ave_pur_39 = file_35to39["Price"].mean()
ave_pur_40 = file_40["Price"].mean()

# Total Purchase Value
TPV_10 = file_10["Price"].sum()
TPV_14 = file_10to14["Price"].sum()
TPV_19 = file_15to19["Price"].sum()
TPV_24 = file_20to24["Price"].sum()
TPV_29 = file_25to29["Price"].sum()
TPV_34 =file_30to34["Price"].sum()
TPV_39 = file_35to39["Price"].sum()
TPV_40 = file_40["Price"].sum()

# Avg Total Purchase per Person 
#total first per person then take average
ave_10_perperson = file_10_n["Price"].sum()
ave_14_perperson = file_10to14_n["Price"].sum()
ave_19_perperson = file_15to19_n["Price"].sum()
ave_24_perperson = file_20to24_n["Price"].sum()
ave_29_perperson = file_25to29_n["Price"].sum()
ave_34_perperson = file_30to34_n["Price"].sum()
ave_39_perperson = file_35to39_n["Price"].sum()
ave_40_perperson = file_40_n["Price"].sum()

#average of all user purchase totals 
ave_10_perperson = ave_10_perperson.mean()
ave_14_perperson = ave_14_perperson.mean()
ave_19_perperson = ave_19_perperson.mean()
ave_24_perperson = ave_24_perperson.mean()
ave_29_perperson = ave_29_perperson.mean()
ave_34_perperson = ave_34_perperson.mean()
ave_39_perperson = ave_39_perperson.mean()
ave_40_perperson = ave_40_perperson.mean()

4.763548387096775