In [3]:

#dependences
import pandas as pd


#Set up file to read

file_to_load = "Resources/purchase_data.csv"

In [4]:
#Display the total number of players
# Use Pandas to read data
file = pd.read_csv(file_to_load)
file.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
#Display the total number of players
uni_player = file["SN"].value_counts()
player_count = len(uni_player)

Display_playertot = pd.DataFrame({"Total Player Count": player_count}, index=['0'])
Display_playertot

   Total Player Count
0                 576

In [6]:
# Purchasing Analysis (Total):
# Number of Unique Items
# Average Purchase Price
# Total Number of Purchases
# Total Revenue
 
uni_item = file["Item Name"].value_counts()
num_uni_item = len(uni_item)
ave_price = file[["Price"]].mean()
tot_num_pur = file["Purchase ID"].max() + 1 


tot_rev = file["Price"].sum()

#  Display the summary data frame.
 
num_uni_item
ave_price
tot_num_pur
tot_rev
summary_df = pd.DataFrame({"Number of Unique Items": num_uni_item,
                              "Average Purchase Price": ave_price,
                              "Total Number of Purchases ":tot_num_pur,
                              "Total Revenue": tot_rev})


summary_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
Price,179,3.050987,780,2379.77

In [7]:
# Remove price from index without changeing the average price input

sum_df = summary_df.copy()
summary_df.rename(index={'Price': '0'}, inplace=True)
sum_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
Price,179,3.050987,780,2379.77

In [8]:
# Gender Demographics
 
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed
# Answer/approach : create a new data frame with only male/female/other then unique user names (576) and then do calculation

file
# lets make a list of unique male/female/other profiles and count them
byname = file.groupby("SN").sum()

malefile = file.loc[file["Gender"] == "Male", :]
femalefile = file.loc[file["Gender"] == "Female", :]
nongenfile = file.loc[file["Gender"] == "Other / Non-Disclosed", :]
# Group by unique username
malefile_sn =malefile.groupby("SN").sum()

femalefile_sn = femalefile.groupby("SN").sum()
nongenfile_sn =nongenfile.groupby("SN").sum()
nongenfile_sn

# Totals
tot_male = len(malefile_sn)
tot_female = len(femalefile_sn)
tot_nongen = len(nongenfile_sn)
tot = len(nongenfile_sn)+ len(femalefile_sn) +len(malefile_sn)

# Percentages
perc_male = 100*len(malefile_sn)/tot
perc_fem = 100*len(femalefile_sn)/tot
perc_other = 100*len(nongenfile_sn)/tot

gender_summary_df = pd.DataFrame({"Gender": ["Male", "Female","Other / Non-Disclosed"],"Total Count": [tot_male, tot_female, tot_nongen], "Percentage of Players": [perc_male, perc_fem, perc_other]})
gender_summary_df['Percentage of Players'] = gender_summary_df['Percentage of Players'].round(decimals =2)
gender_summary_df

                  Gender  Total Count  Percentage of Players
0                   Male          484                  84.03
1                 Female           81                  14.06
2  Other / Non-Disclosed           11                   1.91

In [9]:
femalefile_sn

               Purchase ID  Age  Item ID  Price
SN
Adastirin33            142   35      175   4.48
Aerithllora36          852   58      235   8.64
Aethedru70             775   21       60   3.54
Aidain51               516   39       35   3.45
Aiduesu86              429   22      179   4.48
...                    ...  ...      ...    ...
Wailin72               283   21        9   2.73
Yana46                 280   20       16   3.55
Yarithrin84            698   30       58   4.14
Yathecal82            1400   60      241   6.22
Yoishirrala98          572   17      145   4.58

[81 rows x 4 columns]

In [10]:
# Purchasing Analysis (Gender), Run basic calculations to obtain:

# Create a summary data frame to hold the results

# Purchase Count

pur_count_f = len(femalefile)
pur_count_m = len(malefile)
pur_count_nong= len(nongenfile) 

# Average purchase price

ave_f_pur = femalefile["Price"].mean()
ave_m_pur = malefile["Price"].mean()
av_nong_pur = nongenfile["Price"].mean()

# Total Purchase Value
tot_f_value = femalefile["Price"].sum()
tot_m_value = malefile["Price"].sum()
tot_non_value = nongenfile["Price"].sum()

# Average Purchase Total per Person by Gender by gender

Ave_per_f = femalefile_sn["Price"].mean()
Ave_per_m = malefile_sn["Price"].mean()
Ave_per_nong = nongenfile_sn["Price"].mean()

gen_purchasing_summary_df = pd.DataFrame({"Gender": ["Male", "Female","Other / Non-Disclosed"],"Purchase Count": [pur_count_f, pur_count_m, pur_count_nong], "Average Purchase Price": [ave_f_pur,ave_m_pur, av_nong_pur], "Total Purchase Value":[tot_f_value, tot_m_value, tot_non_value], "Avg Total Purchase per Person":[Ave_per_f, Ave_per_m, Ave_per_nong] })

gen_purchasing_summary_df['Average Purchase Price'] = gen_purchasing_summary_df['Average Purchase Price'].round(decimals =2)

gen_purchasing_summary_df['Avg Total Purchase per Person'] = gen_purchasing_summary_df['Avg Total Purchase per Person'].round(decimals =2)

gen_purchasing_summary_df.set_index('Gender', inplace=True)
gen_purchasing_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,113,3.20,361.94,4.47
Female,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [11]:
# Age Demographics 
# Establish bins for age
bins = [0, 9.9, 14, 19, 24, 29, 34, 39, 100]
groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins. Hint: use pd.cut()
file["Age"] = pd.cut(file["Age"], bins, labels=groups, include_lowest=True)


file

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20-24,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40+,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,20-24,Male,92,Final Critic,4.88
3,3,Chamassasya86,20-24,Male,100,Blindscythe,3.27
4,4,Iskosia90,20-24,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,20-24,Female,60,Wolf,3.54
776,776,Iral74,20-24,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20-24,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,<10,Male,92,Final Critic,4.19
779,779,Ennrian78,20-24,Male,50,Dawn,4.60

In [12]:
file['SN'].value_counts()

Lisosia93      5
Iral74         4
Idastidru52    4
Lisim78        3
Aina42         3
              ..
Hilaerin92     1
Ceoral34       1
Lisista63      1
Layjask75      1
Sisur91        1
Name: SN, Length: 576, dtype: int64

In [13]:
# Calculate the numbers and percentages by age group : Total Count and Percentage of Players
# Create a summary data frame to hold the results

file_10 = file.loc[file["Age"] == "<10", :]
file_10to14 = file.loc[file["Age"] == "10-14", :]
file_15to19 = file.loc[file["Age"] == "15-19", :] 
file_20to24 = file.loc[file["Age"] == "20-24", :]
file_25to29 = file.loc[file["Age"] == "25-29", :]
file_30to34 = file.loc[file["Age"] == "30-34", :]
file_35to39 = file.loc[file["Age"] == "35-39", :]
file_40 = file.loc[file["Age"] == "40+", :]

# Group by unique username to remove double

file_10_n = file_10.groupby("SN")
file_10to14_n = file_10to14.groupby("SN")
file_15to19_n = file_15to19.groupby("SN")
file_20to24_n = file_20to24.groupby("SN")
file_25to29_n = file_25to29.groupby("SN")
file_30to34_n = file_30to34.groupby("SN")
file_35to39_n = file_35to39.groupby("SN")
file_40_n = file_40.groupby("SN")


tot_10 = len(file_10_n)
tot_15 = len(file_10to14_n)
tot_20 = len(file_15to19_n)
tot_25 = len(file_20to24_n)
tot_30 = len(file_25to29_n)
tot_35 = len(file_30to34_n)
tot_39 = len(file_35to39_n)
tot_100 = len(file_40_n)

total_count = len(file_10_n)+len(file_10to14_n)+len(file_15to19_n)+len(file_20to24_n)+len(file_25to29_n)+len(file_30to34_n)+len(file_35to39_n)+ len(file_40_n)

perc_below_10= 100* len(file_10_n)/total_count
perc_10to14= 100* len(file_10to14_n)/total_count
perc_15to19 = 100* len(file_15to19_n)/total_count
perc_20to24 = 100* len(file_20to24_n)/total_count
perc_25to30 = 100* len(file_25to29_n)/total_count
perc_30to34 =100* len(file_30to34)/total_count
perc_34to39 = 100* len(file_30to34_n)/total_count
perc_100 = 100*len(file_40_n)/total_count

agebin_summary_df = pd.DataFrame({"Age": groups,"Total Count":[tot_10, tot_15, tot_20, tot_25,tot_30,tot_35,tot_39,tot_100], "Percentage of Players":[perc_below_10, perc_10to14, perc_15to19, perc_20to24, perc_25to30,perc_30to34,perc_34to39,perc_100] })
agebin_summary_df["Percentage of Players"]= agebin_summary_df["Percentage of Players"].round(decimals=2)
agebin_summary_df.set_index('Age', inplace=True)
agebin_summary_df

       Total Count  Percentage of Players
Age
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                  12.67
35-39           31                   9.03
40+             12                   2.08

In [14]:
# Age Demographics:
# Purchase Count
pur_c_10 = len(file_10)
pur_c_14 = len(file_10to14)
pur_c_19 = len(file_15to19)
pur_c_24 = len(file_20to24)
pur_c_29 = len(file_25to29)
pur_c_34 = len(file_30to34)
pur_c_39 = len(file_35to39)
pur_c_40 = len(file_40)

# Average Purchase Price
ave_pur_10 = file_10["Price"].mean()
ave_pur_14 = file_10to14["Price"].mean()
ave_pur_19 = file_15to19["Price"].mean()
ave_pur_24 = file_20to24["Price"].mean()
ave_pur_29 = file_25to29["Price"].mean()
ave_pur_34 = file_30to34["Price"].mean()
ave_pur_39 = file_35to39["Price"].mean()
ave_pur_40 = file_40["Price"].mean()

# Total Purchase Value
TPV_10 = file_10["Price"].sum()
TPV_14 = file_10to14["Price"].sum()
TPV_19 = file_15to19["Price"].sum()
TPV_24 = file_20to24["Price"].sum()
TPV_29 = file_25to29["Price"].sum()
TPV_34 =file_30to34["Price"].sum()
TPV_39 = file_35to39["Price"].sum()
TPV_40 = file_40["Price"].sum()

# Avg Total Purchase per Person 
#total first per person then take average
ave_10_perperson = file_10_n["Price"].sum()
ave_14_perperson = file_10to14_n["Price"].sum()
ave_19_perperson = file_15to19_n["Price"].sum()
ave_24_perperson = file_20to24_n["Price"].sum()
ave_29_perperson = file_25to29_n["Price"].sum()
ave_34_perperson = file_30to34_n["Price"].sum()
ave_39_perperson = file_35to39_n["Price"].sum()
ave_40_perperson = file_40_n["Price"].sum()

#average of all user purchase totals 
ave_10_perperson = ave_10_perperson.mean()
ave_14_perperson = ave_14_perperson.mean()
ave_19_perperson = ave_19_perperson.mean()
ave_24_perperson = ave_24_perperson.mean()
ave_29_perperson = ave_29_perperson.mean()
ave_34_perperson = ave_34_perperson.mean()
ave_39_perperson = ave_39_perperson.mean()
ave_40_perperson = ave_40_perperson.mean()

In [15]:
# Age Demographics

demographics_summary = pd.DataFrame({"Age Bracket": groups,"Purchase Count":[pur_c_10, pur_c_14, pur_c_19, pur_c_24, pur_c_29, pur_c_34, pur_c_39, pur_c_40], "Average Purchase Price": [ave_pur_10, ave_pur_14, ave_pur_19, ave_pur_24, ave_pur_29, ave_pur_34, ave_pur_39, ave_pur_40],"Total Purchase Value": [TPV_10, TPV_14, TPV_19, TPV_24, TPV_29, TPV_34, TPV_39, TPV_40], "Avg Total Purchase per Person": [ave_10_perperson, ave_14_perperson, ave_19_perperson, ave_24_perperson, ave_29_perperson, ave_34_perperson, ave_39_perperson, ave_40_perperson]}) 
demographics_summary["Average Purchase Price"] = demographics_summary["Average Purchase Price"].round(decimals= 2)
demographics_summary["Avg Total Purchase per Person"] = demographics_summary["Avg Total Purchase per Person"].round(decimals = 2)
demographics_summary.set_index('Age Bracket', inplace=True)
demographics_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Bracket,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

In [16]:
# Top Spenders
# Run basic calculations to obtain the results in the table below
# Create a summary data frame to hold the results
# Sort the total purchase value column in descending order

#Find the highers top 5 total purchase price
tot_purchasebyname = byname["Price"].nlargest(n=5)
tot_purchasebyname

SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
Name: Price, dtype: float64

In [17]:
# Purchase Count, Average Price, Total Purchase Value   ------Also Fixed my index issue and replaced it

# for Lisosia93
lis_file = file.loc[file["SN"] == "Lisosia93", :]
lis_count = len(lis_file)
lis_mean = lis_file["Price"].mean()
lis_TPV = lis_file["Price"].sum()
# for Idastidru52
Ida_file = file.loc[file["SN"] == "Idastidru52", :]
Ida_count = len(Ida_file)
Ida_mean = Ida_file["Price"].mean()
Ida_TPV = Ida_file["Price"].sum()
#Chamjask73
Cham_file = file.loc[file["SN"] == "Chamjask73", :]
Cham_count = len(Cham_file)
Cham_mean = Cham_file["Price"].mean()
Cham_TPV = Cham_file["Price"].sum()
#Iral74
Ira_file = file.loc[file["SN"] == "Iral74", :] 
Ira_count = len(Ira_file)
Ira_mean = Ira_file["Price"].mean()
Ira_TPV = Ira_file["Price"].sum()
#Iskadarya95
Isa_file =  file.loc[file["SN"] == "Iskadarya95", :]
Isa_count = len(Isa_file)
Isa_mean =Isa_file["Price"].mean()
Isa_TPV = Isa_file["Price"].sum()

table_spenders =pd.DataFrame({"SN": ["Lisosia93","Idastidru52", "Chamjask73", "Iral74", "Iskadarya95"], "Purchase Count":[lis_count,Ida_count,Cham_count,Ira_count,Isa_count],"Ave Purchase Price":[lis_mean,Ida_mean,Cham_mean, Ira_mean, Isa_mean], "Total Purchase Value": [lis_TPV, Ida_TPV, Cham_TPV, Ira_TPV, Isa_TPV]}) 
table_spenders["Ave Purchase Price"] = table_spenders["Ave Purchase Price"].round(decimals =2 )

table_spenders.set_index('SN', inplace=True)
table_spenders

             Purchase Count  Ave Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.79                 18.96
Idastidru52               4                3.86                 15.45
Chamjask73                3                4.61                 13.83
Iral74                    4                3.40                 13.62
Iskadarya95               3                4.37                 13.10

In [18]:
# Most Popular Items--------Display a preview of the summary data frame

# Identify the 5 most popular items by purchase count, then list (in a table):

# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value

# Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
# Sort the purchase count column in descending order


#find the top 5 highest puchase count by item name----- DO PURCHASE COUNT as shown in instructions
pur_count = file["Item Name"].value_counts()
pur_count.nlargest(n=8)

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Extraction, Quickblade Of Trembling Hands        9
Nirvana                                          9
Fiery Glass Crusader                             9
Persuasion                                       9
Pursuit, Cudgel of Necromancy                    8
Singed Scalpel                                   8
Name: Item Name, dtype: int64

In [31]:
# Final Critic
final_crit = file.loc[file["Item Name"] == "Final Critic"]
final_crit_PC= len(final_crit)

final_critic_TPV = file.loc[file["Item Name"] == "Final Critic"]["Price"].sum()

#How to get price? file.loc[file["Item Name"]=="Fiery Glass Crusader"]["Price"] gets all the occurances

# Fiery Glass Crusader    
Fiery = file.loc[file["Item Name"]=="Fiery Glass Crusader"]
Fiery_PC =len(Fiery)
Fiery_TPV = file.loc[file["Item Name"] == "Fiery Glass Crusader"]["Price"].sum()

# Oathbreaker, Last Hope of the Breaking Storm
Oath = file.loc[file["Item Name"] == "Oathbreaker, Last Hope of the Breaking Storm"]
Oath_PC = len(Oath)
Oath_TPV = file.loc[file["Item Name"] == "Oathbreaker, Last Hope of the Breaking Storm"]["Price"].sum()
# Persuasion
Persuasion = file.loc[file["Item Name"]=="Persuasion"]
Persuasion_PC =len(Persuasion)
Persuasion_TPV = file.loc[file["Item Name"] == "Persuasion"]["Price"].sum()


# Extraction, Quickblade Of Trembling Hands
Extraction = file.loc[file["Item Name"]== "Extraction, Quickblade Of Trembling Hands"]
Extraction_PC = len(Extraction)
Extraction_TPV= file.loc[file["Item Name"] == "Extraction, Quickblade Of Trembling Hands"]["Price"].sum()


# Nirvana
Nirvana = file.loc[file["Item Name"] == "Nirvana"]    
Nirvana_PC = len(Nirvana)
Nirvana_TPV = file.loc[file["Item Name"] == "Nirvana"]["Price"].sum()

final_critic_IP = final_crit["Price"]

# Singed Scalpel

sing = file.loc[file["Item Name"]== "Singed Scalpel"]
sing_PC = len(sing)
sing_TPV = file.loc[file["Item Name"]== "Singed Scalpel"]["Price"].sum()


# I compared these total purchase values for the final table and rearranged in decending order to find top 5

final_critic_TPV,Oath_TPV, Nirvana_TPV,Fiery_TPV, sing_TPV,Extraction_TPV, Persuasion_TPV

(59.99, 50.76000000000002, 44.1, 41.22, 34.8, 31.77, 28.989999999999995)

In [20]:
#Table that inlcudes 

Popular_table =pd.DataFrame({"Item name": ["Final Critic","Oathbreaker", "Fiery Glass Crusader", "Persuasion", "Extraction, Quickblade Of Trembling Hands"],"Purchase Count": [final_crit_PC,Oath_PC, Fiery_PC, Persuasion_PC, Extraction_PC],"Item Price": ["4.61","4.23","4.58","3.19","3.53"], "Total Purchase Value": [final_critic_TPV, Oath_TPV, Fiery_TPV, Persuasion_TPV, Extraction_TPV ]})
# See item price calculations below 
Popular_table

,Item name,Purchase Count,Item Price,Total Purchase Value
0,Final Critic,13,4.61,59.99
1,Oathbreaker,12,4.23,50.76
2,Fiery Glass Crusader,9,4.58,41.22
3,Persuasion,9,3.19,28.99
4,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

In [46]:
#  Item Price columns check

file.loc[file["Item Name"]=="Final Critic"]["Price"].unique(), file.loc[file["Item Name"]=="Oathbreaker, Last Hope of the Breaking Storm"]["Price"].unique(), file.loc[file["Item Name"] == "Fiery Glass Crusader"]["Price"].unique(), file.loc[file["Item Name"] == "Persuasion"]["Price"].unique(), file.loc[file["Item Name"] == "Extraction, Quickblade Of Trembling Hands"]["Price"].unique()

(array([4.88, 4.19]),
 array([4.23]),
 array([4.58]),
 array([3.19, 3.33]),
 array([3.53]))

In [57]:
# You must include a written description of three observable trends based on the data

# Identify the 5 most profitable items by total purchase value, then list (in a table):
# Item ID
# Item Name
# I compared the top 7 total purchase values and rearranged in decending order to find top 5

final_critic_TPV,Oath_TPV, Nirvana_TPV,Fiery_TPV, sing_TPV,
# Item Price columns check

file.loc[file["Item Name"]=="Final Critic"]["Price"]
file.loc[file["Item Name"]=="Oathbreaker, Last Hope of the Breaking Storm"]["Price"]
file.loc[file["Item Name"] == "Nirvana"]["Price"] 
file.loc[file["Item Name"] == "Fiery Glass Crusader"]["Price"]
file.loc[file["Item Name"] == "Singed Scalpel"]["Price"]

# Purchase Count, just called the variables above
final_crit_PC
Oath_PC
Nirvana_PC
Fiery_PC
sing_PC

# Find Item ID Check
file.loc[file["Item Name"]=="Final Critic"]["Item ID"] 
# file.loc[file["Item Name"]=="Oathbreaker, Last Hope of the Breaking Storm"]["Item ID"]
# file.loc[file["Item Name"] == "Nirvana"]["Item ID"]
# file.loc[file["Item Name"] == "Fiery Glass Crusader"]["Item ID"]
# file.loc[file["Item Name"] == "Singed Scalpel"]["Item ID"]

Profitable_item_table =pd.DataFrame({"Item ID": ["92","178", "82", "145", "103"],"Item name": ["Final Critic","Oathbreaker, Last Hope of the Breaking Storm", "Nirvana", "Fiery Glass Crusader", "Singed Singed Scalpel"],"Purchase Count": [final_crit_PC,Oath_PC,Nirvana_PC, Fiery_PC,sing_PC],"Item Price": ["4.61","4.23","4.9","4.58","3.53"], "Total Purchase Value": [final_critic_TPV, Oath_TPV,Nirvana_TPV, Fiery_TPV,sing_TPV ]})

Profitable_item_table.set_index('Item ID', inplace=True)
Profitable_item_table

,Item name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.9,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Singed Scalpel,8,3.53,34.80