In [170]:

#dependences
import pandas as pd


#Set up file to read

file_to_load = "Resources/purchase_data.csv"

In [171]:
#Display the total number of players
# Use Pandas to read data
file = pd.read_csv(file_to_load)
file.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [172]:
#Display the total number of players
uni_player = file["SN"].value_counts()
player_count = len(uni_player)

Display_playertot = pd.DataFrame({"Total Player Count": player_count}, index=['0'])
Display_playertot

   Total Player Count
0                 576

In [173]:
# Purchasing Analysis (Total):
# Number of Unique Items
# Average Purchase Price
# Total Number of Purchases
# Total Revenue
 
uni_item = file["Item Name"].value_counts()
num_uni_item = len(uni_item)
ave_price = file[["Price"]].mean()
tot_num_pur = file["Purchase ID"].max() + 1 


tot_rev = file["Price"].sum()

#  Display the summary data frame.
 
num_uni_item
ave_price
tot_num_pur
tot_rev
summary_df = pd.DataFrame({"Number of Unique Items": num_uni_item,
                              "Average Purchase Price": ave_price,
                              "Total Number of Purchases ":tot_num_pur,
                              "Total Revenue": tot_rev})


summary_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
Price,179,3.050987,780,2379.77

In [174]:
# Remove price from index without changeing the average price input

sum_df = summary_df.copy()
summary_df.rename(index={'Price': '0'}, inplace=True)
sum_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
Price,179,3.050987,780,2379.77

In [175]:
# Gender Demographics
 
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed
# Answer/approach : create a new data frame with only male/female/other then unique user names (576) and then do calculation

file
# lets make a list of unique male/female/other profiles and count them
byname = file.groupby("SN").sum()

malefile = file.loc[file["Gender"] == "Male", :]
femalefile = file.loc[file["Gender"] == "Female", :]
nongenfile = file.loc[file["Gender"] == "Other / Non-Disclosed", :]
# Group by unique username
malefile_sn =malefile.groupby("SN").sum()

femalefile_sn = femalefile.groupby("SN").sum()
nongenfile_sn =nongenfile.groupby("SN").sum()
nongenfile_sn

# Totals
tot_male = len(malefile_sn)
tot_female = len(femalefile_sn)
tot_nongen = len(nongenfile_sn)
tot = len(nongenfile_sn)+ len(femalefile_sn) +len(malefile_sn)

# Percentages
perc_male = 100*len(malefile_sn)/tot
perc_fem = 100*len(femalefile_sn)/tot
perc_other = 100*len(nongenfile_sn)/tot

gender_summary_df = pd.DataFrame({"Gender": ["Male", "Female","Other / Non-Disclosed"],"Total Count": [tot_male, tot_female, tot_nongen], "Percentage of Players": [perc_male, perc_fem, perc_other]})
gender_summary_df['Percentage of Players'] = gender_summary_df['Percentage of Players'].round(decimals =2)
gender_summary_df

                  Gender  Total Count  Percentage of Players
0                   Male          484                  84.03
1                 Female           81                  14.06
2  Other / Non-Disclosed           11                   1.91

In [176]:
# Purchasing Analysis (Gender), Run basic calculations to obtain:

# Create a summary data frame to hold the results

# Purchase Count

pur_count_f = len(femalefile)
pur_count_m = len(malefile)
pur_count_nong= len(nongenfile) 

# Average purchase price

ave_f_pur = femalefile["Price"].mean()
ave_m_pur = malefile["Price"].mean()
av_nong_pur = nongenfile["Price"].mean()

# Total Purchase Value
tot_f_value = femalefile["Price"].sum()
tot_m_value = malefile["Price"].sum()
tot_non_value = nongenfile["Price"].sum()

# Average Purchase Total per Person by Gender by gender

Ave_per_f = femalefile_sn["Price"].mean()
Ave_per_m = malefile_sn["Price"].mean()
Ave_per_nong = nongenfile_sn["Price"].mean()

gen_purchasing_summary_df = pd.DataFrame({"Gender": ["Male", "Female","Other / Non-Disclosed"],"Purchase Count": [pur_count_f, pur_count_m, pur_count_nong], "Average Purchase Price": [ave_f_pur,ave_m_pur, av_nong_pur], "Total Purchase Value":[tot_f_value, tot_m_value, tot_non_value], "Avg Total Purchase per Person":[Ave_per_f, Ave_per_m, Ave_per_nong] })

gen_purchasing_summary_df['Average Purchase Price'] = gen_purchasing_summary_df['Average Purchase Price'].round(decimals =2)

gen_purchasing_summary_df['Avg Total Purchase per Person'] = gen_purchasing_summary_df['Avg Total Purchase per Person'].round(decimals =2)

gen_purchasing_summary_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Male,113,3.20,361.94,4.47
1,Female,652,3.02,1967.64,4.07
2,Other / Non-Disclosed,15,3.35,50.19,4.56

In [182]:
# Age Demographics 


# Calculate the numbers and percentages by age group
# Create a summary data frame to hold the results
# Optional: round the percentage column to two decimal points
# Display Age Demographics Table
# Establish bins for age
bins = [0, 10, 15, 19, 25, 30, 35, 40, 100]
groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-40", "40+"]

file["Age"] = pd.cut(file["Age"], bins, labels=groups, include_lowest=True)

file
# Categorize the existing players using the age bins. Hint: use pd.cut()

TypeError: '<' not supported between instances of 'int' and 'str'